.titulo h1, h2 {
    width: 100%;
}

.titulo h1 {
    text-align: center;
}

.titulo h2 {
    text-align: right;
    font-size: 10pt;
    font-weight: 300;
}

.formulario {
    text-align: center;
}

.campoTxt, .campoAssunto, .campoTime {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.campoTel {
  width: 39.8%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.divCheckbox, .divRadio {
  width: 110px;
  margin-left: 10%; 
  text-align: left;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.campoMensagem, textarea{
  margin-top: 10px;
  width: 79%;
}

.btnEnviar {
  width: 80%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border-radius: 10px;



  background-color: rgb(86, 153, 89);
  border: none;
  color: white;
 
  text-decoration: none;

  font-size: 16pt;
}

h5 {
  color: rgb(68, 68, 68);
  font-weight: 500;
  font-size: 12pt;
  margin: 5px 0 5px 0;
  text-align: left;
  margin-left: 10%;
}

.containerCampos {
  width: 50%;
  margin: 0 auto;
}