.card {
    background-color: rgb(212, 212, 212);
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
}

.foto img{
    width: 40%;
    float: left;
}

.titulo, .titulo h2 {
    text-align: center;
    font-size: 18pt;
    font-weight: 500;
    margin: 15px 0;
}

.descricao, .descricao p{
    text-align: justify;
    font-size: 10pt;
    font-weight: 400;
    padding: 0 10px;
    margin: 0 0 15px 0;

}

.card-body {
    display: inline-block;

    width: 60%;
}