div.imagem-loja {
    background-image: url("../images/loja.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100%;
    margin: 0 auto;
    height: 700px;
}

h2.titulo-sobre {
    top: 250px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
    font-size: 14pt;
    padding: 30px;
    font-size: 25pt;
}

p.texto-sobre {
    top: 250px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
    font-size: 17pt;
    padding: 0 30px 30px 30px;
    position: relative;
    font-weight: 100;
}

div.box {
    margin: 0 auto;
    width: 60%;
}