body {font-family: 'Roboto', sans-serif;
margin: 0; 
}

* {
    margin: 0;
}

.cabecalho {
    width: 100%;
    height: 160px;
    background-color: rgb(180, 5, 5);
    box-shadow: rgba(51, 51, 51, 0.548) 0 5px 10px;
}

.center {
    text-align: center;
}

.cabecalho-menu {
	width: 100%;
	height: 100px;
	background-color: #EDEDED;
}

.cabecalho span {
	position: relative;
	top: 18px;
	color: white;
	font-size: 45pt;
	text-shadow: 4px 4px black;
	font-family: 'Bangers', cursive;
}

#menu ul {
    padding:0px;
    margin:32px 0 0 0;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; } 

#menu ul li a {
    padding: 20px 10px;
    display: inline-block;
	 
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.rodape {
    width: 100%;
    background-color: rgb(32, 32, 32);
    height: 200px;
    margin-top: 5px;
    box-shadow: rgba(51, 51, 51, 0.548) 0 -5px 10px;

}

.container {
    width: 75%;
    margin: 0 auto;
}

.rodape-descricao {
	padding-top: 18px;
}


.rodape-descricao h4 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: 100;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	font-size: 20pt;
}

.rodape-descricao h3 {
	font-size: 30pt;
	font-weight: 100;
	color: white;
	text-shadow: 4px 4px black;
	font-family: 'Bangers', cursive;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.titulo, .titulo h2 {
    text-align: center;
    font-size: 18pt;
    font-weight: 500;
}

div.titulo {
    margin: 30px 0 0 0;
}

h1.titulo {
	font-size: 24pt;
    text-align: center;
    margin: 10px 0;
}

h2.titulo {
    text-align: right;
    font-size: 10pt;
    font-weight: 300;
}

.titulo-card {
	text-align: center;
    font-size: 12pt;
    font-weight: 400;
    margin: 10px 0;
}