<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Nilcinho Car - Financiamento</title>
    <link rel="stylesheet" href="../css/financiamento.css">
    <link rel="stylesheet" href="../css/template.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
</head>

<body>

    <nav class="cabecalho" id="menu">
        <div class="container">
            <div class="center">
                <span>Nilcinho car</span>
            </div>
        </div>
        <ul>
            <div class="container">
                <li><a href="index.html">Home</a></li>
                <li><a href="tabela-fipe.html">Tabela Fipe</a></li>
                <li><a href="financiamento.html">Financiamento</a></li>
                <li><a href="parceiros.html">Parceiros</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </div>
        </ul>
    </nav>

    <div class="container">

        <div class="titulo">
            <h1 class="titulo">Simulação de financiamento</h1>
            <h2 class="titulo">Atualizada em 08/04/2019</h2>
        </div>

        <table class="tabela">
            <tr>
                <th>Valor Financiado</th>
                <th>Prazo</th>
                <th>Prestação</th>
                <th>Juros (A.M.)</th>
            </tr>
            <tr>
                <td>R$ 10.000,00</td>
                <td>36</td>
                <td>R$ 362,25</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 10.000,00</td>
                <td>48</td>
                <td>R$ 293,26</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 20.000,00</td>
                <td>36</td>
                <td>R$ 724,50</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 20.000,00</td>
                <td>48</td>
                <td>R$ 586,54</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 30.000,00</td>
                <td>36</td>
                <td>R$ 879,81</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 30.000,00</td>
                <td>48</td>
                <td>R$ 769,68</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 40.000,00</td>
                <td>36</td>
                <td>R$ 1.173,08</td>
                <td>1.41 %</td>
            </tr>
            <tr>
                <td>R$ 40.000,00</td>
                <td>48</td>
                <td>R$ 1.026,24</td>
                <td>1.41 %</td>
            </tr>

        </table>

    </div>

    <footer class="rodape">
        <div class="container">
            <div class="rodape-descricao center">
                <h3>Nilcinho car</h3>
                <h4>Telefone (48) 99999-8888</h4>
                <h4>contato@meusite.com.br</h4>
                <h4>Av. Centenário, nº 100 - Cricíuma</h4>
                <h4>developed by <><span style="color: red">lucas santos</span>
                        < /></h4>
            </div>
        </div>
    </footer>
</body>

</html>