<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Nilcinho Car - Tabela Fipe</title>
    <link rel="stylesheet" href="../css/tabela-fipe.css">
    <link rel="stylesheet" href="../css/template.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
</head>

<body>

    <nav class="cabecalho" id="menu">
        <div class="container">
            <div class="center">
                <span>Nilcinho car</span>
            </div>
        </div>
        <ul>
            <div class="container">
                <li><a href="index.html">Home</a></li>
                <li><a href="tabela-fipe.html">Tabela Fipe</a></li>
                <li><a href="financiamento.html">Financiamento</a></li>
                <li><a href="parceiros.html">Parceiros</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </div>
        </ul>
    </nav>

    <div class="container">

        <div class="titulo">
            <h1>Tabela FIPE</h1>
            <h2>Atualizada em 08/04/2019</h2>
        </div>

        <table class="tabela">
            <tr>
                <th>Código</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Motorização</th>
                <th>Ano/Modelo</th>
                <th>Valor R$</th>
            </tr>
            <tr>
                <td>1001</td>
                <td>Chevrolet</td>
                <td>Astra</td>
                <td>2.0 Flex</td>
                <td>2011/2011</td>
                <td>26.987,56</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Volkswagen</td>
                <td>Gol</td>
                <td>1.0 Flex</td>
                <td>2018/2018</td>
                <td>35.584,12</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Ford</td>
                <td>Focus</td>
                <td>2.0 Flex</td>
                <td>2018/2018</td>
                <td>57.977,15</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>Pegeout</td>
                <td>208</td>
                <td>1.6 Flex</td>
                <td>2008/2008</td>
                <td>13.872,59</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>Chevrolet</td>
                <td>Astra</td>
                <td>2.0 Flex</td>
                <td>2011/2011</td>
                <td>26.987,56</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Volkswagen</td>
                <td>Gol</td>
                <td>1.0 Flex</td>
                <td>2018/2018</td>
                <td>35.584,12</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Ford</td>
                <td>Focus</td>
                <td>2.0 Flex</td>
                <td>2018/2018</td>
                <td>57.977,15</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>Pegeout</td>
                <td>208</td>
                <td>1.6 Flex</td>
                <td>2008/2008</td>
                <td>13.872,59</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>Chevrolet</td>
                <td>Astra</td>
                <td>2.0 Flex</td>
                <td>2011/2011</td>
                <td>26.987,56</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Volkswagen</td>
                <td>Gol</td>
                <td>1.0 Flex</td>
                <td>2018/2018</td>
                <td>35.584,12</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Ford</td>
                <td>Focus</td>
                <td>2.0 Flex</td>
                <td>2018/2018</td>
                <td>57.977,15</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>Pegeout</td>
                <td>208</td>
                <td>1.6 Flex</td>
                <td>2008/2008</td>
                <td>13.872,59</td>
            </tr>


        </table>

    </div>


    <footer class="rodape">
        <div class="container">
            <div class="rodape-descricao center">
                <h3>Nilcinho car</h3>
                <h4>Telefone (48) 99999-8888</h4>
                <h4>contato@meusite.com.br</h4>
                <h4>Av. Centenário, nº 100 - Cricíuma</h4>
                <h4>developed by <><span style="color: red">lucas santos</span>
                        << />/></h4>
            </div>
        </div>
    </footer>
</body>

</html>